html {
  font-family: Helvetica sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(https://rcmcdonough.github.io/dasmoto/resources/images/pattern.jpeg);
  }

.main_hdr {
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes_hdr {
  background-color: mediumspringgreen;
}

.frames_hdr {
  background-color: lightcoral;
}

.paint_hdr {
  background-color: skyblue;
}

.cost {
  font-weight: bold;
  color: blue;
}
